
body{
    background: #181818;
    font-family: Graphik Trial , sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}

section{

.presentation{
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    align-self: stretch;
    

    .pres-h1{
        color: #fff;
        font-family: Graphik Trial,sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 88px;
        display: flex;
        max-width: 709px;
        margin-bottom: 17px;
        @include defaultLaptop{
            font-size: 65px;
        }
        @include smallLaptop{
            font-size: 55px;
        }
        @include horizontalTable{
            font-size: 50px;
        }
        @include verticalTable{
            font-size: 40px;
        }
        @include adaptiveNavIcon{
            font-size: 35px;
            line-height: 40px;
        }
        @include defaultMobile{
            font-size: 25px;
            line-height: 30px;
        }
 
    }
    .p-pres{
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color:white;
        max-width: 582px;
        text-align: center;
        margin-top: 0;
        @include verticalTable{
            font-size: 16px;
        }
        @include defaultMobile{
            line-height: 25px;
        }
    }
    .pres-btns{
        display: flex;
        flex-direction: row;
        gap: 35px;
        align-items: center;


        .pres-btn-1{
        background: #4452FE;
        border: none;
        color: #fff;
        display: flex;
        padding: 15px 30px;
        align-items: center;
        cursor: pointer;
    }
    .pres-btn-2{
        border: 1px solid #fff;
        background: #181818;
        color: #fff;
        display: flex;
        padding: 15px 30px;
        align-items: center;
        cursor: pointer;
    }
    }
    
}

.imgs-rotate-pres{
    max-width: 1552.023px;
    max-height: 841px;
    margin-bottom: 100px;
    display: flex;
        margin:auto;


    .img-dashboard{
        display: flex;
        width: 100%;
        @include horizontalTable{
            width: 100%;
        }
        @include defaultMobile{
            width:100%;
        }
}


}

.features{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 62px 50px;
    margin-bottom: 100px;

    .features-h1{
        @include h1-catalogs;
        margin-bottom: 0px;
        @include defaultLaptop{
            font-size: 40px;
        }
        @include defaultMobile{
            font-size: 35px;
        }
    }
    .features-p{
        font-family: Graphik Trial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.2px;
        max-width: 600px;
        @include defaultLaptop{
            font-size: 16px;
        }
        
    }
    .imgs-notes{
        display: flex;
        align-items: center;
        gap: 27px;
        @include defaultLaptop{
            flex-direction: column;
        }
        .img-features{
        width: 752px;
        height: 759px;
        margin-top: 80px;
        @include defaultLaptop{
                width: 500px;
                height: 100%;
                position: sticky;
        }
        @include defaultMobile{
            width: 100%;
        }
        @include adaptiveNavIcon{
            width: 120%;
        }
        @include smallMobile{
            width: 110%;
        }
        
    }
        .notes{
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            position: relative;
            @include defaultLaptop{
                flex-direction: column;
            }
            .note:nth-child(3){
                .h3-note{
                    margin-bottom: 30px;
                }
            }

            .note{
                display: flex;
                max-width: 269px;
                flex-direction: row;
                align-items: flex-start;
                max-height: 196px;
                flex-wrap: wrap;
                @include defaultMobile{
                    width:100%;
                }

                .h3-note{
                    color: #fff;
                    font-family: Graphik Trial, sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    margin-top: 0;
                    max-width: 150px;
                    margin-bottom: 0;
                    @include verticalTable{
                        font-size: 18px;
                    }
                    @include defaultMobile{
                        font-size: 14px;
                        padding-left: 5px;
                    }
                }
                .p-note{
                    font-family: Graphik Trial, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: #fff;
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    gap: 10px;
                    margin-top: 0;
                    flex-direction: column;
                    @include defaultMobile{
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
                .icon-note1{
                    width: 29px;
                    height: 30px;
                    display: flex;
                    padding: 19px 3px;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    @include defaultMobile{
                        width: 25px;
                        height: 27px;
                    }
                    @include smallMobile{
                        
                    }
                }
            }
                .icon-note2{
                    width: 29px;
                    height: 30px;
                    display: flex;
                    padding: 17px 0px;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    @include smallMobile{
                        width: 27px;
                    }
                }
                .icon-note3{
                    width: 41px;
                    height: 19px;
                    display: flex;
                    padding: 17px 0px;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    @include smallMobile{
                        width: 35px;   
                    }
                }
        }
    }
}
.contents{
    display: flex;
padding: 50px 199px;
flex-direction: column;
align-items: center;
gap: 35px;
align-self: stretch;
@include verticalTable{
    margin-top: 0;
}
@include defaultMobile{
    padding: 0;
}
@include adaptiveNavIcon{
    padding: 0;
}

    .content-h1{
        @include h1-catalogs;
        margin-bottom: -20px;
        @include defaultLaptop{
            font-size: 40px;
        }
    }
    .content-p{
        font-family: Graphik Trial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
        text-align: center;
        padding: 10px;
        align-items: center;
        display: flex;
        max-width: 571px;
        margin-top: 0px;
        @include defaultMobile{
            font-size: 16px;
            
        }
    }
    .cards{
        display: flex;
        align-items: center;
        gap: 33px;
        box-sizing: border-box;
        @include horizontalTable{
            flex-direction: column;
        }
        
        .card{
            display: flex;
            width: 476px;
            padding: 40px 0px;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid #D3D3D3;
            @include defaultMobile{
                width: 100%;
            }
            @include adaptiveNavIcon{
                width: 100%;
                
            }
            

            .card-h2{
                font-family: Graphik Trial, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                color: #000;
                margin-bottom: 0;
                @include defaultMobile{
                    margin-top: 0;
                }
                
            }
            .card-p{
                font-family: Graphik Trial, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #5C5C5C;
                text-align: center;
                align-items: center;
                max-width: 268px;
                margin-top: 0;
                // @include defaultMobile{
                //     margin-bottom: -20px;
                // }
                
            }
            .card-btn{
                display: flex;
                height: 52px;
                padding: 20px 36px;
                align-items: center;
                background-color: #4452FE;
                color: #fff;
                border: none;
                font-family: Graphik Trial, sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 40px;
                @include defaultMobile{
                    margin-top: 0px;
                }
            }
            
            .card-img{
                margin-bottom: -50px;
                padding-bottom: 0px;
                margin-top: -60px;
                @include defaultMobile{
                    width: 100%;
                }
                @include adaptiveNavIcon{
                    width: 100%;
                }
            }
            .card-img1{
                
                padding-bottom: 0px;
                
                @include defaultMobile{
                    width: 80%;
                    
                    margin-top: 0;
                }
                @include adaptiveNavIcon{
                    width: 100%;
                    
                    margin-top: 0;
                }
            }
        }
    }
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-bottom: 100px;

    .gallery-h1{
        display: flex;
        padding: 10px;
        gap: 10px;
        @include h1-catalogs;
        margin-bottom: -40px;
        @include defaultLaptop{
            font-size: 40px;
        }
    }
    .gallery-p{
        font-family: Graphik Trial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #fff;
        display: flex;
        padding: 10px;
        align-items: center;
        margin-top: 0;
        max-width: 571px;
        @include adaptiveNavIcon{
            font-size: 16px;     
        }
    }
    .gallery-imgs{
        align-items: center;
        gap: 33px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 44px;
        @include verticalTable{
            flex-direction: column;
        }
    }
    .gallery-img1 {
        @include contents-imgs-four;
        @include smallLaptop{
            width: 20%;  
        }
        @include verticalTable{
            width: 100%;
        }
    }
    .gallery-img2{
        @include contents-imgs-four;
        @include smallLaptop{
            width: 20%;
        }
        @include verticalTable{
            width: 100%;
        }
    }
    .gallery-img3{
        @include contents-imgs-four;
        @include smallLaptop{
            width: 20%;
        }
        @include verticalTable{
            width: 100%;
        }
    }
    .gallery-img4{
        @include contents-imgs-four;
        @include smallLaptop{
            width: 20%;
        }
        @include verticalTable{
            width: 100%;
        }
    }
    .second-gallery-imgs{
        display: flex;
        align-items: center;
        gap: 33px;
        justify-content: center;
        @include verticalTable{
            display: none;
        }

        .gallery-img5{
            width: 395px;
            height: 285px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            @include smallLaptop{
                width: 35%;
            }
        }
        .gallery-img6{
            width: 225px;
            height: 285px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            @include smallLaptop{
                width: 20%;
            }
        }
        .gallery-img7{
            width: 395px;
            height: 285px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            @include smallLaptop{
                width: 35%;
            }
        }
    }
    .gallery-btn{
        display: flex;
        height: 52px;
        padding: 15px 40px;
        align-items: center;
        font-family: Graphik Trial, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        border: 1px solid #fff;
        background-color: #181818;
        color: #fff;
        cursor: pointer;
    }
}
.partners{
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;


    .partners-h1{
        @include h1-catalogs;
        margin-bottom: 0;
        @include defaultLaptop{
            font-size: 40px;
        }
    }

    .partners-p{
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        font-family: Graphik Trial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
        text-align: center;
        max-width: 571px;
        margin-top: -20px;
        @include adaptiveNavIcon{
            font-size: 16px;
        }
    }
    .brands{
        @include verticalTable{
            display: grid;
            grid-template-columns: repeat(3, 60px);
            gap: 50px;
            align-items: center;
        }
        .brand{
            align-items: center;
            margin-right: 74px;
            
        }
        
        .brand:last-of-type{
            margin-right: 20px;
            @include verticalTable{
                width: 83px;
                height: 33px;
            }
        }
    }
    .brands-btn{
        display: flex;
        height: 52px;
        padding: 10px 40px;
        align-items: center;
        color: #fff;
        background-color: #181818;
        border: 1px solid #fff;
        cursor: pointer;
        margin-bottom: 100px;
    }
}
.testimonials{

    .h1-testiomonials{
        @include h1-catalogs;
        @include defaultLaptop{
            font-size: 40px;
        }
    }
    .comments{
        display: grid;
        padding: 50px 20px;
        align-items: center;
        gap: 50px;
        align-self: stretch;
        grid-template-columns: repeat(2, minmax(0, 430px));
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
        height: auto;
        row-gap: 20px;
        column-gap: 20px;
        @include verticalTable{
            display: grid;
            grid-template-columns: minmax(0,430px);
        }
        .comment:nth-child(1){
            margin-bottom: 0px;
            height: 200px;
            margin-top: 10px;
            padding-bottom: 90px;
            @include verticalTable{
                padding-bottom: 70px;
            }
        }
        .comment:nth-child(2){
            height: 200px;
            padding-bottom: 80px;
            @include verticalTable{
                padding-bottom: 70px;
            }
            .client{
                margin-top: 0;
            }
        }
        .comment:nth-child(3){
            height: 200px;
            margin-top: 0px;
            padding-bottom: 70px;
        }
        .comment:nth-child(4){
            height: 200px;
            margin-top: -20px;
            padding-bottom: 70px;
            @include verticalTable{
                margin-top: 10px;
            }
        }
        .comment{
            display: flex;
            padding: 40px;
            gap: 30px;
            border-radius: 10px;
            border: 1px solid #DEDEDE;
            background: #181818;
            max-width: 430px;
            flex-direction: column;
            @include defaultMobile{
                width:80%;
            }
            
            .client{

                display: flex;
                align-items: center;
                gap: 13px;
                flex-direction: row;

                .commentor{
                font-family: Graphik Trial ,sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: #fff;
                margin-right: 0;
                gap: 13px;
                display: flex;
                margin-top: -30px;
                margin-bottom: 0;
                flex-direction: column;
                @include adaptiveNavIcon{
                    font-size: 14px;  
                    line-height: 20px;
                }
                
            }
            .job{
                font-family: Graphik Trial,sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: #fff;
                display: flex;
                padding: 0px 10px;
                justify-self: flex-end;
                margin-right: 0;
                gap: 13px;
                flex-direction: column;
                position: absolute;
                margin-left: 52px;
                margin-top: 35px;
                @include adaptiveNavIcon{
                    font-size: 14px; 
                    line-height: 20px;
                }
            }
            .avatar{
                display: flex;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
            }
            }
            
            .comment-p{
                font-family: Graphik Trial ,sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #fff;
                display: flex;
                padding: 0px 10px;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;
                @include adaptiveNavIcon{
                    font-size: 14px;
                    line-height: 20px;
                }
                @include defaultMobile{
                    font-size: 13px;
                }
        }
    }
}
}

.opentype{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    .opentype-div{
        background: #343434;
        display: flex;
        align-items: center;
        gap: 86px;
        border-radius: 33px;
        flex-direction: row;
        @include horizontalTable{
            flex-direction: column;
        }
        @include verticalTable{
            background: #181818;
            flex-direction: column;
        }
        .left-content{
            .opentype-h1{
                @include h1-catalogs;
                display: flex;
                padding: 0px 10px;
                align-items: center;
                gap: 10px;
                margin-right: 0;
                margin-left: 70px;
                @include defaultLaptop{
                    font-size: 50px;
                }
                @include smallLaptop{
                    font-size: 40px;
                }
                @include horizontalTable{
                    font-size: 30px;
                    flex-direction: column;
                }
                @include verticalTable{
                    font-size: 25px;
                    align-items: center;
                }
            }
            .opentype-btn{
                display: flex;
                padding: 15px 66px;
                align-items: center;
                gap: 10px;
                background: #4452FE;
                border: none;
                color: #fff;
                font-family: Graphik Trial, sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
                justify-content: center;
                margin-right: 0;
                margin-left: 85px;
                @include horizontalTable{
                    font-size: 15px;
                    padding: 10px 55px;
                    margin-bottom: 0;
                }
                @include verticalTable{
                    align-items: center;
                    display: flex;
                    justify-self: center;
                }
            }

        }
        .right-content{
            .img-opentype-adaptive{
                display: none;
                
                @include verticalTable{
                    display: flex;
                    width: 100%;
                }
            }
            .img-opentype{
                border-bottom-right-radius: 20px;
                display: flex;
                flex-direction: column;
                @include horizontalTable{
                    border-radius: 20px;
                    width: 100%;
                }
                @include verticalTable{
                    display: none;
                }
            }
        }
    }
}
footer{
    display: flex;
    padding: 107px 0px;
    flex-direction: column;
    align-self: stretch;
    .a-footers{
        display: flex;
        align-items: flex-start;
        gap: 75px;
        margin-left: 50px;
        justify-content: center;
        @include verticalTable{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        .a-footer:nth-of-type(3){
                margin-right: 199px;
                @include horizontalTable{
                    margin-right: 0;
                }
                
            }
        .a-footer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            margin-left: 30px;
            
        
            .h1-a{
                font-family: Graphik Trial, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                color: #fff;
                text-decoration: none;
                @include horizontalTable{
                    font-size: 18px;
                }
            }
            .a-nav-footer{
                font-family: Graphik Trial, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: #fff;
                text-decoration: none;
                margin-bottom: -15px;
                @include horizontalTable{
                    font-size: 14px;
                }
            }
        }

        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .location{
                display: flex;
                flex-direction: row;

                .location-p{
                    font-family: Graphik Trial, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color:#fff;
                    margin-left: 8px;
                    @include horizontalTable{
                        font-size: 14px;    
                    }
                }
            }
            .telephone{
                display: flex;
                flex-direction: row;
                .telephone-p{
                    font-family: Graphik Trial, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: #fff;
                    margin-left: 10px;
                    @include horizontalTable{
                        font-size: 14px;
                    }
                }
            }
            .social-media{
                .icons-social-media{
                    margin-right: 17px;
                }
            }
        }
    }
}
}